doctype
html
  head
    title BodyBuddy: Your Profile
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/profile.css')
  body
    .top Welcome Back!
    .top#date Today is #{date}
    mixin workoutListing(name, intensity, description)
      li #{name}: #{intensity}<br>#{description}
    #page
      .left
        h2#inner Feedback   
        #feedback #{feedback}      
      #chart  
    .bottom#workouts
      h2#inner Your Next Workout
      ul#exercises
        for workout in workouts
          +workoutListing(workout.title, workout.intensity, workout.description)
    img(id="logo" src="/img/bblogo.png" alt="Body Buddy Logo")         
    script(type='text/javascript' src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}")
    script.
      var workoutsss = !{workouts};
      var historyLit = !{history};
      var historyArr = [];
      for (i = 0; i < historyLit.history.length; ++i) {
        historyArr[i] = [historyLit.history[i].time, historyLit.history[i].avg];
      }
      function renderChart() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Time');
        dataTable.addColumn('number', 'Progress');
        dataTable.addRows(historyArr);

        var dataView = new google.visualization.DataView(dataTable);
      
        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        var options = {
           colors:['#428BCA'],
           width: 600, height: 340,
          //legend: 'none',
          pointSize: 3,
            hAxis:{
            title:'Time'
            },
            vAxis:{
            title:'Progress'
            }
        };
        chart.draw(dataView, options);
      }
      window.onload = renderChart;
